@model SushiPopG5.Models.Producto

@{
    ViewData["Title"] = "Details";
}
<div style="text-align: center;">
<h1>Productos</h1>
</div>


<div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
    <img src="@Model.Foto" alt="Producto" width="200" height="200" style="float: left; margin-right: 20px;" />
    <div style="float: left;">
        <h4>@Model.Nombre</h4>
        <div style="margin-top: 10px;">
            <p>@Model.Descripcion</p>
        </div>
        <div style="display: flex; align-items: center;">
            @if (Model.Stock > 0)
            {
                <p style="margin-right: 10px;">Precio: @Model.Precio</p>
                <a asp-controller="CarritoItems" asp-action="Create" asp-route-Id="@Model?.Id" class="btn btn-warning text-white">Agregar al Carrito</a>
            } else
            {
                <p style="text-decoration: line-through; margin-right: 10px;">Precio: @Model.Precio</p>
                <p style="color: red;">Producto sin stock</p>
            }
            
        </div>
    </div>
</div>
