@model SushiPopG5.Models.Producto

@{
    ViewData["Title"] = "Details";
}
<div class="text-center">
    <h1>Productos</h1>
</div>


<section class="d-flex align-items-center justify-content-center my-5">
    <div class="d-flex align-items-center justify-content-center w-75" style="gap: 1rem;">
        <img src="@Model.Foto" alt="Producto" class="h-100 col-4" />
        <div class="d-flex flex-column align-items-center col-8">
            <h2>@Model.Nombre</h2>
            <p class="text-center w-75">Descripción: @Model.Descripcion</p>
            <div class="d-flex align-items-center justify-content-between w-50">
                @if (Model.Stock > 0)

                {
                    <p class="text-info h3 mb-0">$ @Model.Precio</p>
                    <a asp-controller="CarritoItems" asp-action="Create" asp-route-Id="@Model.Id"
                        class="btn btn-warning text-white">Agregar al Carrito</a>
                }

                else

                {
                    <p class="h5" style="text-decoration: line-through">Precio: @Model.Precio</p>
                    <p class="text-danger h5">Producto sin stock</p>
                }

            </div>
        </div>
    </div>

</section>