@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SushiPopG5.Utils.PedidoUsuarioViewModel>

<div class="row text-center">
    <h1>Pedidos</h1>
</div>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.NroPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Fecha)
        </th>
        @if ((bool)ViewData["EsEmpleado"] == true)
        {
            <th>
                Cliente
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarritoItems )
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.NroPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Fecha)
            </td>
            @if ((bool)ViewData["EsEmpleado"] == true)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                    @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                </td>
            }
            <td>
                $@Html.DisplayFor(modelItem => item.Pedido.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.Estado)
            </td>
            <td>
                @foreach (var item2 in item.CarritoItems)
                    {
                         @Html.DisplayFor(modelItem => item2.NombreProducto  )
                        <span style="white-space: pre;">,</span>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pedido.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pedido.Id">Details</a> |
                @if (item.Pedido.Estado == 1)
                {
                    <a asp-action="Delete" asp-route-id="@item.Pedido.Id">Cancelar</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
