@model IEnumerable<SushiPopG5.Models.CarritoItem>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center h3 mb-5">Carrito</h1>

<table class="table">
    <thead class="h2">
    <tr>
        <th>
            Producto
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            Foto
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="py-4 h5">
                @item.NombreProducto
            </td>
            <td class="py-4 h5">
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td class="py-4">
                <img src="@item.Producto.Foto" alt="Foto" width="150" height="100">
            </td>

            <td class="py-4">
                <form id="borrarItemForm" asp-action="BorrarItem">
                    <input type="hidden" name="carritoItemId" value="@item.Id"/>
                    <button type="submit" style="background: none; border: none; cursor: pointer;">
                        <i class="bi bi-trash3-fill h2 text-dark" onclick="borrarItem()"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="row">
    <div class="text-center">
        <h2>@ViewBag.PrecioTotal</h2>
    </div>
    <div class="text-end">
        <a class="btn bg-danger text-white me-5" asp-action="BorrarCarrito" asp-controller="CarritoItems"> Cancelar </a>
        <a class="btn-lg bg-black text-white ms-5 bi bi-cart" asp-action="ComprarCarrito" asp-controller="CarritoItems"> Comprar </a>
    </div>

</div>

<script>
    function borrarItem() {
        let form = document.getElementById('borrarItemForm');
        form.submit();
    }
</script>