@model SushiPopG5.Models.Contacto

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-center">
    <div class="col-8">
        <h2 class="text-center">Contacto</h2>
        <hr/>
        <div class="container">
            <div class="row justify-content-start p-1">
                <h4 class="col-6 text-center">
                    @Html.DisplayNameFor(model => model.NombreCompleto):
                </h4>
                <h4 class="col-6 text-center">
                    @Html.DisplayFor(model => model.NombreCompleto)
                </h4>
            </div>
            <div class="row justify-content-start p-1">
                <h4 class="col-6 text-center">
                    @Html.DisplayNameFor(model => model.Email):
                </h4>
                <h4 class="col-6 text-center">
                    @Html.DisplayFor(model => model.Email)
                </h4>
            </div>
            <div class="row justify-content-start p-1">
                <h4 class="col-6 text-center">
                    @Html.DisplayNameFor(model => model.Telefono):
                </h4>
                <h4 class="col-6 text-center">
                    @Html.DisplayFor(model => model.Telefono)
                </h4>
            </div>
            <div class="row justify-content-start p-1">
                <h4 class="col-6 text-center">
                    @Html.DisplayNameFor(model => model.Mensaje):
                </h4>
                <h4 class="col-6 text-center">
                    @Html.DisplayFor(model => model.Mensaje)
                </h4>
            </div>
            <div class="row justify-content-start p-1">
                <h4 class="col-6 text-center">
                    
                </h4>
                <h4 class="col-6 text-center pt-5">
                    <a class="btn btn-primary" asp-action="Index">Volver a la lista de mensajes</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div>
    
</div>