@model IEnumerable<SushiPopG5.Models.Contacto>

@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center pb-4">Contactos</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.NombreCompleto)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Leido)
                </th>
                <th class="text-center" >
                    Accion
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row " class="text-center">
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </th>
                    <td class="align-items-center text-center">
                        <input type="checkbox" disabled @(item.Leido ? "checked" : "") />
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.Id">Leer mensaje</a>
                    </td>
                </tr>
                
            }
            </tbody>
        </table>
    </div>

</div>
